<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.network_blog.back_end.data.passage.PassageMapper">

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="Passage">
        select * from tb_assage where id=#{id} and is_deleted=0
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.network_blog.back_end.po.Passage">
        update tb_passage
        <set>
            <if test="title!=null">
                title=#{title},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
    </update>

    <update id="deleteBatch">
        update tb_passage
        set is_deleted=1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <resultMap id="Passage" type="com.network_blog.back_end.po.Passage">
        <id column="id" property="id"></id>
        <result column="user_id" property="userId"></result>
        <result column="content" property="content"></result>
        <result column="title" property="title"></result>
        <result column="is_deleted" property="isDeleted"></result>
        <result column="recent_edit_time" property="recentEditTime"></result>
        <result column="create_time" property="createTime"></result>
    </resultMap>
</mapper>