<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.network_blog.back_end.data.passage.PassageMapper">

    <select id="getAllBlogsByUserId" resultMap="Passage">
        select * from tb_passage where userId=#{userId}
    </select>

    <insert id="insert" parameterType="com.network_blog.back_end.po.Passage" useGeneratedKeys="true" keyProperty="id">
    insert into tb_passage (title, userId,createTime, content,status,url)
    values ( #{title},#{userId}, #{createTime},#{content},#{status},#{url})
    </insert>

    <update id="update" parameterType="com.network_blog.back_end.po.Passage">
        update tb_passage
        set title=#{title},content=#{content},recentEditTime=#{recentEditTime},status=#{status},url=#{url}
        where id=#{id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from tb_passage where id = #{id}
    </delete>

    <select id="selectById" parameterType="java.lang.Integer" resultMap="Passage">
        select * from tb_passage where id=#{id}
    </select>


    <select id="selectByKey" resultMap="Passage">
        select *
        from tb_passage
        where title like #{key} OR content like #{key}
        order by id desc
    </select>

    <update id="addCollection">
        update tb_passage
        set collectionNum=collectionNum+1
        where id=#{id}
    </update>

    <update id="deleteCollection">
        update tb_passage
        set collectionNum=collectionNum-1
        where id=#{id}
    </update>

    <select id="getAllBlogsOrderByCollectionNum" resultMap="Passage">
        select * from tb_passage where userId=#{userId}
        order by collectionNum desc
    </select>

    <resultMap id="Passage" type="com.network_blog.back_end.po.Passage">
        <id column="id" property="id"></id>
        <result column="userId" property="userId"></result>
        <result column="content" property="content"></result>
        <result column="title" property="title"></result>
        <result column="recentEditTime" property="recentEditTime"></result>
        <result column="createTime" property="createTime"></result>
        <result column="userName" property="userName"></result>
        <result column="status" property="status"></result>
        <result column="url" property="url"></result>
    </resultMap>
</mapper>
