<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.network_blog.back_end.data.passage.TagMapper">

    <insert id="insert" parameterType="com.network_blog.back_end.po.Tag"
    useGeneratedKeys="true" keyProperty="tagId">
        insert into tb_tag(passageId,tagName,userId)
        values (#{passageId},#{tagName},#{userId})
    </insert>


    <delete id="deleteByTagId" parameterType="java.lang.Integer">
        delete from tb_tag where tagId=#{tagId}
    </delete>

    <select id="getTagsByPassageId" resultMap="Tag" parameterType="java.lang.Integer">
        select * from tb_tag where passageId=#{passageId}
    </select>

    <select id="selectByPassageIdAndTagName" resultMap="Tag">
        select * from tb_tag where passageId=#{passageId} and tagName=#{tagName}
    </select>

    <select id="getPassageIdsByTag" resultMap="Tag">
        select * from tb_tag where userId=#{userId} and tagName=#{tagName}
    </select>

    <select id="getTagsByUserId" resultMap="Tag">
        select * from tb_tag where userId=#{userId}
    </select>

    <resultMap id="Tag" type="com.network_blog.back_end.po.Tag">
        <id column="tagId" property="tagId"></id>
        <result column="passageId" property="passageId"></result>
        <result column="tagName" property="tagName"></result>
        <result column="userId" property="userId"></result>
    </resultMap>


</mapper>
